.micro-header {
  padding: 9px;
  text-align: center;
  background-color: #009423; }

.micro-header__logo {
  display: inline-block;
  width: 42px;
  height: 22px;
  text-indent: -99999px;
  background: url("node_modules/@nib-styles/header-small/img/white.svg") no-repeat; }
